li {
    
    list-style: none ;
    color: white;
}

li:hover {
    color: rgb(236, 183, 103);
}


.linkStyle {
    text-decoration: none;
}

.textFieldClass {
    margin-bottom: 10px;
}

.regLoginContainer {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:50px;
}

.regLoginDiv {
    width:400px;
    height: 400px;
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    justify-content:center;
}

.form-class {
    width: 80%;
}